body {
  margin: 0;
  font-family: Inter Medium, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  width: 150px;
  height: 45px;
  background: #000;
  outline: none;
  border: none;
  color: #fff;
  cursor:pointer
}

button:hover {
  background: #3898ec;
}

